/*Content First - Mobile First*/
    /*General Rules*/
    *{
        box-sizing: border-box;
        font-family: 'segoe ui', 'calibri', 'verdana', sans-serif;
    }
    body,
    h1,
    h2,
    h3{
        margin: 0;
    }
/*Small Devices - Smartphones */

/*Medium Devices - Tablets*/

/*Large Devices - Laptops*/

/*Extra Large Devices - HD Desktop*/

